.social-list {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 3rem;

	.social--title {
		align-self: flex-start;
		margin-left: 1rem;
	}

	.social-list--item {
		list-style-type:none;
	}

	.social-list--link {
		text-decoration: none;
		text-indent: 100%;
    	white-space: nowrap;
    	overflow: hidden;
    	display:block;
    	margin: 1rem;

    	width: 2.5rem;
    	height: 2.5rem;
//        transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
        
        &.stackoverflow {
            height: auto;
        }
        
        &:focus {
            outline: 0;
        }

		&:hover,
        &:focus {
//            transform: scale(1.2);
		}
	}

	.social-list--icon {
		width: 100%;
		margin-right: 10px;
		display:block;
        
		fill: map-get($theme, headerSocialIconFill); 

		&.inverted {
			height: 100%;
			width: auto;
		}
	}
    
    .social-list--icon,
    .social-list-g  {
        transition: fill 300ms cubic-bezier(.25,.8,.25,1);
    }

	.social-list--text {
 		text-indent: 100%;
		overflow:hidden;
		display: block;
		width:0;
		height: 0;
	}
}

.header__social-list {
    border-top: 1px solid rgba(map-get($theme, headerSocialIconBorders), 0.10);
    border-bottom: 1px solid rgba(map-get($theme, headerSocialIconBorders), 0.10);
    
    .social-list--link {
        .social-list--icon,
        .social-list-g {
            fill: map-get($theme, headerSocialIconFill); 
        }
        
        &:hover {
            .social-list--icon,
            .social-list-g {
                fill: map-get($theme, headerSocialIconFillHover);
            }
        }
    }
}

.footer__social-list {
	display: flex;
    flex-direction: row;
    justify-content: center;
    
    border-top: 1px solid rgba(map-get($theme, footerSocialIconBorders), 0.05);
    border-bottom: 1px solid rgba(map-get($theme, footerSocialIconBorders), 0.05);

    .footer_social--item {
    	padding: 0 1rem;
    }
    
    .social-list--link {
        .social-list--icon,
        .social-list-g {
            fill: map-get($theme, footerSocialIconFill); 
        }
        
        &:hover {
            .social-list--icon,
            .social-list-g {
                fill: map-get($theme, footerSocialIconFillHover);
            }
        }
    }
}

