<svg viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <line style="fill:none;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;" x1="34.033" x2="8.566" y1="89.467" y2="64"/>
    <line style="fill:none;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;" x1="8.566" x2="34.033" y1="64" y2="38.533"/>
    <line style="fill:none;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;" x1="93.967" x2="119.434" y1="38.533" y2="64"/>
    <line style="fill:none;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;" x1="119.434" x2="93.967" y1="64" y2="89.467"/>
    <line style="fill:none;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;" x1="42" x2="87.561" y1="105.621" y2="22.379"/>
</svg>